<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Two Piece</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="\static\style.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}

<!-- Navbar -->
	<!-- <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="\application\static\two piece logo 2.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="index.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="products.html">Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="categories.html">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact.html">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="cart.html">Cart</a>
				</li>
			</ul>
		</div>
    </div>
    </nav> -->

<!--- Welcome Section -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">About Us</h1>
	</div>
	<hr>
</div>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding text-center">
<div class="row padding">
	<div class="col-lg-6">
		<h2>Our Journey</h2>
        <br>
		<p>We started Two Piece back in 2023 with a dream to make it easier for One Piece fans to buy affordable and high-quality products.</p>
		<br>
        <p>We took our products to Disneyland, where we put up a big sign asking people if they thought we should give up our jobs to make mugs and posters with One Piece characters on them. Underneath the sign, we had a QR code that took people to a website where they could vote 'yes' or 'no. 
            At the end of the weekend, we tallied up the votes and it turned out that 100% of the votes were for 'yes', so we resigned from our jobs the next day and got cracking.</p>
		<br>
            <p>A few hours after being job-free, we found out that the 'no' button was, in fact, broken. </p>
		<br>
        <p>A month later, we had a fully functional website, enough products to fill a medium-sized swimming pool with, and zero tolerance for the bloke who created our initial voting poll.</p>
	</div>
	<div class="col-lg-6 bean-img">
		<img src="\static\disneyland-stand.png" class="img-fluid">
	</div>
</div> 
</div>

<hr class="my-4">

<!--- Two Column Section Part 2 -->
<div class="container-fluid padding text-center">
    <div class="row padding">
        <div class="col-lg-6">
            <h3>To date, we've delivered more than 9000 One Piece products to fans. That's a lot of labels!</h3>
    </div> 
    </div>
    
    <hr class="my-4">

<!--- Two Column Section Part 3 -->
<div class="container-fluid padding">
    <div class="row padding text-center">
        <div class="col-lg-6">
            <h2>Our Very Important Mission</h2>
            <br>
            <p>We believe that our products have great sentimental value for our members, so we want to enable fans across the globe to access our merchandise without breaking the bank.</p>
            <br>
            <p>In order to do this, we've put a scheme into action called "All For One. One for All." Every purchase made on our website will take 2% of its profit and collect it in a pot. Every month, the pot will reveal how much money was gathered and will be used to 
                distribute Two Piece merchandise to our members across the globe - for free! Even if you've never made a purchase on our website, you'll still be in with a chance to get a free box of products delivered to your doorstep if you've created an account with us.
            </p>
            <br>
            <p>If you have any ideas of how we can make our website, processes or products better, feel free to contact us via email or post.</p>
        </div>
    </div> 
    </div>
    
    <hr class="my-4">


<!-- - Footer section  -->
<footer>
    <div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <img id="footer-logo" src="\static\two piece logo 2.png">
            <hr class="light">
            <p>123-456-7890</p>
            <p>info@twopiece.com</p>
            <p>4 Privet Drive</p>
            <p>Little Whinging, Surrey</p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Our Hours</h5>
            <hr class="light">
            <p>Monday: 4pm - 4:30 pm</p>
            <p>Tuesday-Sunday: closed</p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Relevant Links</h5>
            <hr class="light">
            <a class="footer-padding" href="{{ url_for('home') }}">Home</a>
            <br>
            <a class="footer-padding" href="{{ url_for('about') }}">About</a>
            <br>
            <a class="footer-padding" href="{{ url_for('contact') }}">Contact</a>
            <br>
        </div>
        <div class="col-12">
            <hr class="light-100">
            <h5>&copy; twopiece.com</h5>
        </div>
    </div> 
    </div>
    </footer>

</body>
</html>