/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styling */
body {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}

/* Navbar styling */
.navbar {
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
}

/* Content section styling */
.content {
    padding: 2rem 0;
}

.segment {
    text-align: center;
    padding: 2rem;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.segment-content {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.link a {
    color: #f00;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

/* Fragrance details styling */
.container {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    text-align: center;
}

.fragrance {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.fragrance img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

/* Link styling for "See all the options here" */
.link a {
    color: #f00;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
}

/* Nav logo */
.navbar-logo img {
    display: inline-block;
    height: 30%; 
    width: 30%;
    margin-right: 400px;
}

.nav-link {
    margin-right: 10px;
}

/* Options button */
.options .btn {
    background-color: #f39c12;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1rem;
    transition: background-color 0.3s;
  }
  
  .options .btn-primary {
    background-color: #34495e;
  }
  
  .options .btn:hover {
    background-color: #e74c3c;
    cursor: pointer;
  }

  #footer-logo {
    height: 50%;
    width: 40%;
    margin-bottom: 1.5em;
  }
  
  .footer-padding {
    display: inline-block;
    margin-bottom: 1em;
  }